<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produits</title>

    <!-- Liens externes -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="nav.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
        <div class="container">
            <a href="index.html" class="navbar-logo">
                <img src="./tex/Teklop_logo_white.png" alt="" width="250">
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu"
            >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">Produits</a>
                </li>
                <li class="nav-item">
                    <a href="index.html#questions" class="nav-link">F.A.Q</a>
                </li>
                <li class="nav-item">
                    <a href="index.html#contact" class="nav-link">Contact</a>
                </li>
            </ul>
            <a href="#panier" class="btn btn-custom"><i class ="bi bi-basket"></i>&ensp;Panier</a>
        </div>
        </div>
    </nav>

  <!-- Produits -->
  <section class="p-5 bg-dark">
    <h1 class="text-light text-center mb-4">Les indus'</h1>
    <div class="container">
        <div class="row text-center shop-items">
            <% items.indus.forEach(function(item){ %> 
                <div class="col-md mb-4 mb-md-0 shop-item" data-item-id="<%= item.id %>">
                    <div class="card bg-light text-dark">
                        <div class="card-body text-center">
                            <img class="card-image img-fluid shop-item-image" style="max-width: 40%;" src="./tex/produits/<%= item.imgName %>" alt="">
                            <h3 class="card-title mb-1 mt-3 shop-item-title">
                                <%= item.name %> 
                            </h3>
                            <p class="card-text mb-2">
                                Paquet de cigarettes industrielles, 20 pièces.
                            </p>
                            <img style="max-width:10%;" src="./tex/<%= item.flag %>" alt="">
                            <hr>
                            <!-- Prix -->
                            <h6 class="mt-1 mb-1">
                                <span class="text-danger shop-item-price"><%= item.price / 100 %>€&nbsp;</span>
                                <span class="text-grey"><s>11€</s></span>
                            </h6>
                            <button class="btn btn-custom mt-2 shop-item-button"><i class ="bi bi-nav"></i>&ensp;Ajouter</a>
                        </div>
                    </div>
                </div>
            <% }) %> 
        </div>
    </div>
</section>


    <!-- Produits 3 -->
<section class="p-5 bg-dark">
    <h1 class="text-light text-center mb-4">Les roulées</h1>
</section>

<!-- Produits 4 -->
<section class="p-5 bg-dark">
    <h1 class="text-light text-center mb-4">Les packs</h1>
</section>

<!-- Panier -->
<section id="panier" class="p-5">
    <h1 class="text-dark text-center mb-4">Le panier</h1>
    <div class="nav-row">
        <span class="nav-item nav-header nav-column">ITEM</span>
        <span class="nav-price nav-header nav-column">PRICE</span>
        <span class="nav-quantity nav-header nav-column">QUANTITY</span>
    </div>
    <div class="nav-items">
        
    </div>
    <div class="nav-total">
        <strong class="nav-total-title">Total</strong>
        <span class="nav-total-price">0€</span>
    </div>
    <button class="btn btn-dark btn-purchase" type="button">Payer</button>
</section>

<!-- Footer -->
<footer class="p-5 bg-dark text-light text-center position-relative">
    <div class="container">
        <p class="lead">Copyright &copy; 2021 Teklop</p>
        <a href="#" class="position-absolute bottom-0 end-0 p-5">
            <i class ="bi bi-arrow-up-circle h1"></i>
        </a>
    </div>
</footer>

<!-- Liens JS -->
<script src="store.js" defer></script>
<script src="https://checkout.stripe.com/checkout.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>
