@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: './tex/ANTIQUELEGACY-REGULAR.OTF', sans-serif;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

/* Navbar */

.nav-header {
    margin: 1em;
    color: #000;
}

.nav-row {
    display: flex;
}

.nav-column {
    display: flex;
}

.nav-title {
    color: #fff;
    background-color: #000;
    width: 16%;
}

.marg1{
    width: 48%;
}

.nav-language{
    border: none;
    background: none;
}

.nav-language:hover{
    border: none;
    background-color: #000;
    color: #fff;
}

.nav-marg3 {
    background-color: #000;
    width: 32%;
    margin: 1em;
}

.nav-search{
    float: right;
    text-align: right;
    border: none;
    background: none;
    color: #fff;
    background-color: #000;
}

.nav-row:last-child {
    border-bottom: 1px solid black;
}


/* Localisation */

.main-row {
    display: flex;
    flex-direction: row;
}

.col-1 {
    flex-direction: column;
    width: 16%;
}

.localisation-title{
    margin: 1em;
    color: #fff;
    background-color: #000;
    /* width: 16%; */
}

.cd-accordion__input { 
    position: absolute;
    opacity: 0;
}

.firstline-accordion {
    margin-top: 1em;
}

#group-1:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-0:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-1:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-2:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-3:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-4:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-5:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-6:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-7:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-8:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-9:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-10:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-11:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-12:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-13:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-14:checked + label {
    background-color: #000;
    color: #fff;
}

#sub-group-15:checked + label {
    background-color: #000;
    color: #fff;
}

.cd-accordion__label:hover { 
    background-color: #000;
    color: #fff;
}
  
.cd-accordion__label {
    margin-left: 1em;
    color: #000;
    text-decoration: none;
  }

.cd-accordion__sub {
    display: none;
  }
  
.cd-accordion__input:checked ~ .cd-accordion__sub {
    display: block;
  }

.vl0 {
  position: absolute; top: 50px; left: 16%; 
  border-left: 1px solid black;
  height: 930px;
}

.vl1 {
    position: absolute; top: 50px; left: 40%; 
    border-left: 1px solid black;
    height: 930px;
}

.vl2 {
    position: absolute; top: 50px; left: 64%; 
    border-left: 1px solid black;
    height: 930px;
}

.people-header {
    margin-top: 1em;
    margin-bottom: 2em;
    color: #fff;
    background-color: #000;
}

.people-row {
    display: flex;
    width: 24%;
}

.col-2 {
    width: 65%;
    margin-left: 1em;
}

.people-name {
}

.col-3 {
    width: 20%;
}

.people-date {
}

.col-4 {
    margin-right: 1em;
    width: 15%;
}

.people-hour {
}

.webgl {
    position: absolute; top: 50px; left: 64%; 
}